[submodule "External/OpenCFLite"]
	path = External/OpenCFLite
	url = https://github.com/gerickson/opencflite.git
[submodule "External/libkqueue"]
	path = External/libkqueue
	url = https://github.com/mheily/libkqueue.git
