[submodule "ThirdParty/CarbonHeaders"]
	path = ThirdParty/CarbonHeaders
	url = https://github.com/samuelfzormeister/CarbonHeaders
[submodule "ThirdParty/CoreFoundation"]
	path = ThirdParty/CoreFoundation
	url = https://github.com/samuelfzormeister/CoreFoundation.git
