<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>SelfReliant</key>
		<true/>
		<key>Archs</key>
		<array>
			<string>x86_64</string>
			<string>arm64</string>
		</array>
		<key>SetXBSVariables</key>
		<true/>
		<key>GenerateDarwinBuildRoots</key>
		<true/>
	</dict>
	<key>Projects</key>
	<array>
		<dict>
			<key>Environment</key>
			<dict>
				<key>ARCH_CONFIGS</key>
				<string>$(PB_CURRENT_ARCH)</string>
				<key>MACHINE_CONFIGS</key>
				<string></string>
				<key>KERNEL_CONFIGS</key>
				<string>RELEASE</string>
			</dict>
			<key>IsArchSpecific</key>
			<true/>
			<key>Version</key>
			<string>6153.141.1</string>
			<key>Name</key>
			<string>xnu</string>
			<key>BuildSystem</key>
			<string>Makefile</string>
			<key>MakefileTarget</key>
			<string>installconfig</string>
			<key>ExternalRepository</key>
			<dict>
				<key>Type</key>
				<string>Git</string>
				<key>URL</key>
				<string>https://github.com/Zormeister/xnu-6153.141.1</string>
			</dict>
		</dict>
		<dict>
			<key>Version</key>
			<string>1</string>
			<key>Name</key>
			<string>sdk_init</string>
			<key>BuildSystem</key>
			<string>Script</string>
			<key>ScriptPath</key>
			<string>setup_sdk.sh</string>
			<key>ExternalRepository</key>
			<dict>
				<key>Type</key>
				<string>Git</string>
				<key>URL</key>
				<string>https://github.com/Zormeister/SDKInit</string>
			</dict>
		</dict>
		<dict>
			<key>BaseProject</key>
			<string>xnu</string>
			<key>Name</key>
			<string>xnu_headers</string>
			<key>MakefileTarget</key>
			<string>installhdrs</string>
		</dict>
	</array>
</dict>
</plist>
