<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>SDK</key>
		<dict>
			<key>Comment</key>
			<string>the amount of random features i need is insane</string>
			<key>Root</key>
			<string>/Library/Developer/CommandLineTools/SDKs/MacOSX10.15.internal</string>
			<key>Name</key>
			<string>MacOSX10.15.internal</string>
			<key>Platform</key>
			<string>MacOSX</string>
			<key>Compiler</key>
			<string>com.apple.compilers.llvm.clang.1_0</string>
		</dict>
		<key>DiskImage</key>
		<dict>
			<key>Comment</key>
			<string>debating on keeping the DMG size in megabytes but oh well</string>
			<key>Size</key>
			<integer>65536</integer>
			<key>VolumeName</key>
			<string>darwinOS</string>
			<key>Type</key>
			<string>UDIF</string>
			<key>FileSystem</key>
			<string>Journaled HFS+</string>
			<key>Layout</key>
			<string>GPTSPUD</string>
		</dict>
		<key>SelfReliant</key>
		<true/>
		<key>Archs</key>
		<array>
			<string>x86_64</string>
			<string>arm64</string>
		</array>
		<key>SetXBSVariables</key>
		<true/>
		<key>GenerateDarwinBuildRoots</key>
		<true/>
	</dict>
	<key>Projects</key>
	<array>
		<dict>
			<key>HasVariants</key>
			<true/>
			<key>Variants</key>
			<array>
				<dict>
					<key>EnvironmentVariable</key>
					<string>MACHINE_CONFIGS</string>
					<key>Comment</key>
					<string>ignore t7000 and t8010, i will toy around with BCM2712 outside of PB for now</string>
					<key>Arch</key>
					<string>arm64</string>
					<key>VariantTypes</key>
					<array>
						<string>BCM2837</string>
					</array>
				</dict>
			</array>
			<key>SubProjects</key>
			<array>
				<dict>
					<key>BaseProject</key>
					<string>xnu</string>
					<key>Name</key>
					<string>libkdd</string>
					<key>BuildSystem</key>
					<string>Makefile</string>
					<key>Target</key>
					<string>install</string>
				</dict>
				<dict>
					<key>BaseProject</key>
					<string>xnu</string>
					<key>Name</key>
					<string>libkxld</string>
					<key>BuildSystem</key>
					<string>Makefile</string>
					<key>Target</key>
					<string>install</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>I had to make the TriggersRebuildOf key just because this stupid library obliterates the mach &amp; machine headers.</string>
					<key>TriggersRebuildOf</key>
					<array>
						<string>xnu_headers</string>
					</array>
					<key>BaseProject</key>
					<string>xnu</string>
					<key>Name</key>
					<string>Libsyscall_dynamic</string>
					<key>BuildSystem</key>
					<string>Makefile</string>
					<key>Target</key>
					<string>install</string>
				</dict>
				<dict>
					<key>Comment</key>
					<string>I had to make the TriggersRebuildOf key just because this stupid library obliterates the mach &amp; machine headers.</string>
					<key>TriggersRebuildOf</key>
					<array>
						<string>xnu_headers</string>
					</array>
					<key>BaseProject</key>
					<string>xnu</string>
					<key>Name</key>
					<string>Libsyscall_static</string>
					<key>BuildSystem</key>
					<string>Makefile</string>
					<key>Target</key>
					<string>install</string>
				</dict>
				<dict>
					<key>BaseProject</key>
					<string>xnu</string>
					<key>Name</key>
					<string>libkmod</string>
					<key>BuildSystem</key>
					<string>Makefile</string>
					<key>Target</key>
					<string>install</string>
				</dict>
				<dict>
					<key>BaseProject</key>
					<string>xnu</string>
					<key>Name</key>
					<string>xnu_development</string>
					<key>BuildSystem</key>
					<string>Makefile</string>
					<key>Target</key>
					<string>installhdrs</string>
				</dict>
				<dict>
					<key>BaseProject</key>
					<string>xnu</string>
					<key>Name</key>
					<string>xnu_headers</string>
					<key>BuildSystem</key>
					<string>Makefile</string>
					<key>Target</key>
					<string>installhdrs</string>
				</dict>
			</array>
			<key>DependsOn</key>
			<array>
				<string>sdk_init</string>
				<string>xnu_headers</string>
				<string>libfirehose_kernel</string>
			</array>
			<key>Comment</key>
			<string>what the freak do i do for ARM machine config???</string>
			<key>Environment</key>
			<dict>
				<key>ARCH_CONFIGS</key>
				<string>PB_CURRENT_ARCH</string>
			</dict>
			<key>IsArchSpecific</key>
			<true/>
			<key>Version</key>
			<string>6153.141.1</string>
			<key>Name</key>
			<string>xnu</string>
			<key>BuildSystem</key>
			<string>Makefile</string>
			<key>Targets</key>
			<array>
				<string>clean</string>
			</array>
			<key>ExternalRepository</key>
			<dict>
				<key>Type</key>
				<string>Git</string>
				<key>URL</key>
				<string>https://github.com/Zormeister/xnu-6153.141.1</string>
			</dict>
		</dict>
		<dict>
			<key>Version</key>
			<string>1</string>
			<key>Name</key>
			<string>sdk_init</string>
			<key>BuildSystem</key>
			<string>Script</string>
			<key>ScriptPath</key>
			<string>setup_sdk.sh</string>
			<key>ExternalRepository</key>
			<dict>
				<key>Type</key>
				<string>Git</string>
				<key>URL</key>
				<string>https://github.com/Zormeister/SDKInit</string>
			</dict>
		</dict>
		<dict>
			<key>SubProjects</key>
			<array>
				<dict>
					<key>BaseProject</key>
					<string>Libc</string>
					<key>Name</key>
					<string>Libc_system_installapi</string>
					<key>Action</key>
					<string>installapi</string>
				</dict>
				<dict>
					<key>BaseProject</key>
					<string>Libc</string>
					<key>Name</key>
					<string>Libc_headers</string>
					<key>Action</key>
					<string>installhdrs</string>
				</dict>
				<dict>
					<key>BaseProject</key>
					<string>Libc</string>
					<key>Name</key>
					<string>Libc_static</string>
					<key>Target</key>
					<string>libc_static</string>
				</dict>
				<dict>
					<key>BaseProject</key>
					<string>Libc</string>
					<key>Name</key>
					<string>Libc_dyld</string>
					<key>Target</key>
					<string>libc_dyld</string>
				</dict>
			</array>
			<key>Version</key>
			<string>1353.100.2</string>
			<key>Name</key>
			<string>Libc</string>
			<key>BuildSystem</key>
			<string>Xcode</string>
			<key>Target</key>
			<string>libsystem_c.dylib</string>
			<key>ExternalRepository</key>
			<dict>
				<key>Type</key>
				<string>Git</string>
				<key>URL</key>
				<string>https://github.com/apple-oss-distributions/Libc</string>
				<key>Tag</key>
				<string>Libc-1353.100.2</string>
			</dict>
		</dict>
		<dict>
			<key>SubProjects</key>
			<array>
				<dict>
					<key>BaseProject</key>
					<string>libpthread</string>
					<key>Name</key>
					<string>libpthread_headers</string>
					<key>Action</key>
					<string>installhdrs</string>
				</dict>
			</array>
			<key>Name</key>
			<string>libpthread</string>
			<key>Version</key>
			<string>416.100.3</string>
			<key>BuildSystem</key>
			<string>Xcode</string>
			<key>Target</key>
			<string>libsystem_pthread</string>
			<key>ExternalRepository</key>
			<dict>
				<key>Type</key>
				<string>Git</string>
				<key>URL</key>
				<string>https://github.com/apple-oss-distributions/libpthread</string>
				<key>Tag</key>
				<string>libpthread-416.100.3</string>
			</dict>
		</dict>
		<dict>
			<key>SubProjects</key>
			<array>
				<dict>
					<key>Name</key>
					<string>libfirehose_kernel</string>
					<key>DependsOn</key>
					<array>
						<string>libpthread_headers</string>
					</array>
				</dict>
			</array>
			<key>Name</key>
			<string>libdispatch</string>
			<key>Version</key>
			<string>1173.100.2</string>
			<key>BuildSystem</key>
			<string>Xcode</string>
			<key>ExternalRepository</key>
			<dict>
				<key>Type</key>
				<string>Git</string>
				<key>URL</key>
				<string>https://github.com/apple-oss-distributions/libdispatch.git</string>
				<key>Tag</key>
				<string>libdispatch-1173.100.2</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
